<% provide(:title, @composition.title) %>
<h1><%= @composition.title %></h1>
<div id="paragraph">
  <p>Composed <%= @composition.year %></p>
  <p class="forces"><%= @composition.forces %></p>
  <br>
  <%=raw @composition.streaming %>
  <br><br>
  <p class="programme-note"><%= @composition.programme_note %></p>
  <br><br><br>
  <p class="score note">All available scores can be purchased from SOUNZ - Centre for New Zealand Music <a href="http://sounz.org.nz/contributor/composer/1837">here.</a></p>
</div>